@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    box-sizing: border-box;
    color: rgb(58, 63, 40);
}



h1, h2, h3{
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #595E55;
}

h1{
    font-size: 1.5em;
    width: calc(100% - 20px);
    max-width: 900px;
    // border-bottom: 2px solid #595E55;
    margin: 10px auto;
    padding: 10px;
}

a{
    color: #595E55;
    font-weight: 700;
}
body{
    margin: 0px;
    background: #eff0ea;
    background-image: url( '/images/noise.png');
    padding: 0px;
    box-shadow: inset 0px 0px 50px 0px rgba(89, 94, 85, 0.418);
}
.menu{
    position: fixed;
    overflow-y: auto;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 66%;
    max-width: 900px;
    display: flex;
    background: rgb(89,94,85);
    background-image: linear-gradient(128deg, rgba(89,94,85,1) 0%, rgba(52,56,49,1) 100%);
    background-image: url( '/images/noise2.png');
    color: #FFF;
    z-index: 10000;
    flex-direction: column;
    justify-content: center;
    // padding: 25px;
    padding-bottom: 200px;
    padding-top: 100px;
    transform: none;
    opacity: 1;
    transition: .5s all;
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.329), 0px 1px 15px 0px rgba(0, 0, 0, 0.185);

    img{
        max-height: 150px;
        display: block;
        margin-top: 200px;
    }
    a{
        // font-family: 'Merriweather', serif;
        font-weight: 400;
        display: block;
        padding: 15px;
        margin: 2px 0px;
        margin-bottom: 0px;
        color: rgb(225, 226, 217);
        text-decoration: none;
        font-size: 1.2em;
        // background: rgba(255, 255, 255, 0.048);
        text-align: left;
        border-bottom: 1px solid rgba(61, 60, 45, 0.158);
        // border-left: 5px solid rgba(0, 0, 0, 0.185);
    }
    .close-button{
        position: absolute;
        z-index: 2000;
        top: 10px;
        right: 10px;
        cursor: pointer;
        svg{
            width: 44px;
            height: 44px;
        }
    }
}

@media screen and (min-width: 700px) {
    .menu{
        width: 300px;
    }
}

header{
    max-width: 900px;
    margin: 0px auto;
    position: relative;
    padding-top: 20px;
}

.user-button{
    border: 2px solid #595E55;
    // border: none;
    background: none;
    border-radius: 3px;
    color: #595E55;
    padding: 2px 7px;
    position: absolute;
    left: 10px;
    top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.user-button:hover{
    background: #595E55;
    color: #EEE;
}








.menu-button{
    position: fixed;
    z-index: 200;
    top: 10px;
    right: 10px;
    background: #FFF;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    box-shadow: 0px 2px 5px 0px rgba(89, 94, 85, 0.411);

    cursor: pointer;
    svg{
        width: 30px;
        height: 30px;
    }
}
.logo{
    max-width: 500px;
    margin: 0px auto;
    

    img{
        width: 100%;
        display: block;
        
    }
}

main{
    min-height: 50vh;
    padding-bottom: 50px;
}

.swiper-container{
    width: 100%;
    max-width: 900px;
    overflow: visible;
    
}

.swiper-wrapper{
    overflow: visible;
}

.swiper-slide{
    overflow: visible;
    position: relative;
    margin: 0px;
    padding: 20px;
    padding-bottom: 0px;
    // background: #595E55;
    // border-radius: 5px;
    .image{
        width: 100%;
        display: block;
        padding-bottom: 60%;
        background-position: bottom center;
        background-size: cover;
        border-radius: 7px;
        box-shadow: inset 0px 2px 5px 0px rgba(57, 59, 55, 0.747), inset 0px 1px 10px 0px rgba(55, 58, 53, 0.411);
        // transform: scale(.9);
        z-index: 500;
        position: relative;
        
    }
    p{
        font-family: 'Merriweather', serif;
        font-weight: 700;
        color: #595E55;
        font-size: 1.2em;
        display: block;
        background: #FFF;
        // transform: translateY(-50px);
        margin: 10px auto;
        margin-top: -25px;
        padding: 15px;
        width: calc(100% - 20px);
        border-radius: 2px;
        box-shadow: 0px 2px 7px 0px rgba(89, 94, 85, 0.411);
        z-index: 600;
        position: relative;
        
    }
}

.about{
    padding: 20px;
    max-width: 900px;
    margin: 0px auto;
    p{
        text-align: left;
        margin: 0px;
        margin-bottom: 10px;
    }
    
}

@media screen and (min-width: 700px){
    .find{
        display: flex;
        justify-content: center;
        align-items: center;

        .o-item{
            text-align: left;
        }
    }
    .offerings{
        margin-right: 50px;
    }
}
.offerings{
    margin-bottom: 25px;
    .o-item{
        padding: 10px 20px;
        svg{
            height: 30px;
            width: 30px;
            vertical-align: bottom;
            
        }
        span{
            vertical-align: bottom;
            line-height: 30px;
            font-size: 1.2em;
            font-family: 'Merriweather', serif;
            font-weight: 700;
            color: #595E55;
            padding: 10px;
        }
    }
}
.table-cont{
    display: inline-block;
    background: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(89, 94, 85, 0.411), 0px 1px 15px 0px rgba(89, 94, 85, 0.301);
}
table{
    text-align: left;
    margin: 10px auto;
    border-collapse: collapse;
    td{
        text-align: left;
        padding: 5px 0px;
        font-family: 'Merriweather', serif;
    }
    tr{
        border-bottom: 1px solid #595E55;
        margin: 5px;
    }
}
table tr td:first-child{
    padding-right: 30px;
}

#map{
    height: 500px;
    margin-bottom: -50px;
    margin-top: 50px;
}


footer{
    background: rgb(89,94,85);
    background-image: linear-gradient(128deg, rgba(89,94,85,1) 0%, rgba(52,56,49,1) 100%);
    background-image: url( '/images/noise2.png');
    color: #FFF;
    padding: 30px 10px;
    p{
        color: #FFF;
    }

    a{
        padding: 10px;
        display: inline-block;
        svg{
            width: 44px;
            height: 44px;
        }
    }
}

.hidden{
    // opacity: 0;
    transform: translateX(100vw);
    
}

////////Attractions

.attr-box{
    background: #FFF;
    width: calc(100% - 20px);
    box-shadow: 0px 2px 5px 0px rgba(89, 94, 85, 0.411), 0px 1px 15px 0px rgba(89, 94, 85, 0.301);
    max-width: 900px;
    padding-top: 10px;
    margin: 10px auto;
    margin-bottom: 30px;
    border-radius: 8px;
    overflow: hidden;
    img{
        max-width: 100%;
        margin: 0px auto;
        // margin-bottom: 20px;
        // max-width: 900px;
        max-height: 400px;
        display: block;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.329), 0px 1px 15px 0px rgba(0, 0, 0, 0.212);

    }
    p{
        padding: 10px;
        margin: 0px;
        
        background: rgb(89,94,85);
        background-image: linear-gradient(128deg, rgba(89,94,85,1) 0%, rgba(52,56,49,1) 100%);
        background-image: url( '/images/noise2.png');
        color: #eff0ea;
    }
    strong{
        color: #FFF;
    }
    
}

/////jobs

.desc{
    padding: 10px 20px;
    max-width: 900px;
    margin: 0px auto;
    ul{
        margin: 0px auto;
        display: inline-block;
    }
    li{
        text-align: left;
        margin-bottom: 10px;
    }
}


////Story

.cover{
    display: block;
    max-width: calc(100% - 20px);
    margin: 10px auto;
    max-height: 400px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.329), 0px 1px 15px 0px rgba(0, 0, 0, 0.212);

}


/// Parties

button.reserve-party{
    font-size: 1.2em;
    border: none;
    background: #595E55;
    padding: 10px 25px;
    color: #FFF;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.329), 0px 1px 15px 0px rgba(0, 0, 0, 0.212);

}

iframe{
    margin: 10px;
    width: calc(100% - 20px);
    max-width: 900px;
}


/// Contact

form{
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    position: relative;
    padding: 25px;
    // border: 2px solid rgba(89, 94, 85, 0.438);

    input, textarea, label{
        width: 100%;
        
        display: block;
        margin: 5px auto;
        text-align: left;
        font-size: 1.2em;
    }
    input, textarea{
        border: none;
        border-bottom: 1px solid #595E55;
        border-radius: 0px;

    }
    button{
        background: #595E55;
        color: #FFF;
        border: none;
        font-size: 1.2em;
        padding: 5px 10px;
        
        position: relative;
        margin: 10px 0px;
        margin-left: auto;
        display: block;
        
    }
}