@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    box-sizing: border-box;
    color: rgb(58, 63, 40);
}



h1, h2, h3{
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #595E55;
}

h1{
    font-size: 1.5em;
    width: calc(100% - 20px);
    max-width: 900px;
    border-bottom: 2px solid #595E55;
    margin: 10px auto;
    padding: 10px;
}

a{
    color: #595E55;
    font-weight: 700;
}
body{
    margin: 0px;
    background: rgb(239, 240, 234);
    padding: 0px;
}
.menu{
    position: fixed;
    overflow-y: auto;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 66%;
    max-width: 900px;
    display: flex;
    background: #595E55;
    color: #FFF;
    z-index: 10000;
    flex-direction: column;
    justify-content: center;
    // padding: 25px;
    padding-bottom: 200px;
    padding-top: 100px;
    transform: none;
    opacity: 1;
    transition: .5s all;
    box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.329), 0px 1px 15px 0px rgba(0, 0, 0, 0.185);

    img{
        max-height: 150px;
        display: block;
        margin-top: 200px;
    }
    a{
        // font-family: 'Merriweather', serif;
        font-weight: 400;
        display: block;
        padding: 15px;
        margin: 2px 0px;
        margin-bottom: 0px;
        color: #FFF;
        text-decoration: none;
        font-size: 1.2em;
        background: rgba(255, 255, 255, 0.048);
        text-align: left;
        // border: 2px solid rgba(0, 0, 0, 0.075);
        border-left: 5px solid rgba(0, 0, 0, 0.185);
    }
    .close-button{
        position: absolute;
        z-index: 2000;
        top: 10px;
        right: 10px;
        cursor: pointer;
        svg{
            width: 44px;
            height: 44px;
        }
    }
}

header{
    max-width: 900px;
    margin: 0px auto;
    position: relative;
    padding-top: 20px;
}

.user-button{
    border: 2px solid #595E55;
    // border: none;
    background: none;
    border-radius: 3px;
    color: #595E55;
    padding: 2px 7px;
    position: absolute;
    left: 10px;
    top: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.user-button:hover{
    background: #595E55;
    color: #EEE;
}
.login-container{
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.322);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 12000;
}
/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.login{
    position: relative;
    width: calc(100% - 20px);
    max-width: 500px;
    top: 50%;
    background: rgb(239, 240, 234);
    padding: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.329), 0px 1px 15px 0px rgba(0, 0, 0, 0.185);

    .login-close{
        svg{
            height: 40px;
        width: 40px;
        }
        top: 10px;
        right: 10px;
        position: absolute;
    }

    h1{
        margin: 10px 0px;
        border: none;
    }
    form{
        padding: 20px;
        max-width: 500px;
        margin: 0px auto;
        input, label{
            display: block;
            margin: 0px auto;
        }
        label{
            text-align: left;
            padding: 5px;
            font-size: .9em;
        }
        input[type="email"], input[type="password"]{
            border: none;
            padding: 10px;
            text-align: left;
            width: 100%;
            max-width: 400px;
            margin: 0px;
            margin-bottom: 20px;
            background: #FFF;
            border-bottom: 2px solid #595E55;
            
        }
        button{
            border: none;
            color: #FFF;
            background: #595E55;
            padding: 5px 20px;
            font-size: 1.2em;
            border-radius: 5px;
        }
    }
}





.menu-button{
    position: absolute;
    z-index: 200;
    top: 10px;
    right: 10px;
    cursor: pointer;
    svg{
        width: 35px;
        height: 35px;
    }
}
.logo{
    max-width: 500px;
    margin: 0px auto;
    

    img{
        width: 100%;
        display: block;
        
    }
}

main{
    min-height: 50vh;
    padding-bottom: 50px;
}

.swiper-container{
    width: 100%;
    max-width: 900px;
    overflow: visible;
    
}

.swiper-wrapper{
    overflow: visible;
}

.swiper-slide{
    overflow: visible;
    position: relative;
    margin: 0px;
    padding: 20px;
    padding-bottom: 0px;
    // background: #595E55;
    // border-radius: 5px;
    img{
        width: 100%;
        display: block;
        // border-radius: 10px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.329), 0px 1px 15px 0px rgba(0, 0, 0, 0.185);
        // transform: scale(.9);
        z-index: 500;
        position: relative;
        
    }
    p{
        font-family: 'Merriweather', serif;
        font-weight: 700;
        color: #595E55;
        font-size: 1.2em;
        display: block;
        background: #FFF;
        // transform: translateY(-50px);
        margin: 10px auto;
        margin-top: -25px;
        padding: 15px;
        width: calc(100% - 20px);
        border-radius: 2px;
        box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.144), 0px 1px 15px 0px rgba(0, 0, 0, 0.212);
        z-index: 600;
        position: relative;
        
    }
}

.about{
    padding: 20px;
    max-width: 900px;
    margin: 0px auto;
    p{
        text-align: left;
        margin: 0px;
        margin-bottom: 10px;
    }
    
}
.offerings{
    margin-bottom: 25px;
    .o-item{
        padding: 10px 20px;
        svg{
            height: 30px;
            width: 30px;
            vertical-align: bottom;
            
        }
        span{
            vertical-align: bottom;
            line-height: 30px;
            font-size: 1.2em;
            font-family: 'Merriweather', serif;
            font-weight: 700;
            color: #595E55;
            padding: 10px;
        }
    }
}
table{
    text-align: left;
    margin: 10px auto;
    background: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.144), 0px 1px 15px 0px rgba(0, 0, 0, 0.212);

    td{
        text-align: left;
        padding: 2px 10px;
    }
}


#map{
    height: 500px;
}


footer{
    background: #595E55;
    color: #FFF;
    padding: 30px 10px;
    p{
        color: #FFF;
    }

    a{
        padding: 10px;
        display: inline-block;
        svg{
            width: 44px;
            height: 44px;
        }
    }
}

.hidden{
    // opacity: 0;
    transform: translateX(100vw);
    
}

////////Attractions

.attr-box{
    background: #FFF;
    width: calc(100% - 20px);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.144), 0px 1px 15px 0px rgba(0, 0, 0, 0.212);
    max-width: 900px;
    padding: 20px;
    margin: 10px auto;
    img{
        max-width: 100%;
        margin: 0px auto;
        // max-width: 900px;
        max-height: 400px;
        display: block;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.329), 0px 1px 15px 0px rgba(0, 0, 0, 0.212);

    }
}

/////jobs

.desc{
    padding: 10px 20px;
    max-width: 900px;
    margin: 0px auto;
    ul{
        margin: 0px auto;
        display: inline-block;
    }
    li{
        text-align: left;
        margin-bottom: 10px;
    }
}


////Story

.cover{
    display: block;
    max-width: calc(100% - 20px);
    margin: 10px auto;
    max-height: 400px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.329), 0px 1px 15px 0px rgba(0, 0, 0, 0.212);

}


/// Parties

button.reserve-party{
    font-size: 1.2em;
    border: none;
    background: #595E55;
    padding: 10px 25px;
    color: #FFF;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.329), 0px 1px 15px 0px rgba(0, 0, 0, 0.212);

}

iframe{
    margin: 10px;
    width: calc(100% - 20px);
    max-width: 900px;
}


/// Contact

form{
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    position: relative;
    padding: 25px;
    // border: 2px solid rgba(89, 94, 85, 0.438);

    input, textarea, label{
        width: 100%;
        
        display: block;
        margin: 5px auto;
        text-align: left;
        font-size: 1.2em;
    }
    input, textarea{
        border: none;
        border-bottom: 1px solid #595E55;
        border-radius: 0px;

    }
    button{
        background: #595E55;
        color: #FFF;
        border: none;
        font-size: 1.2em;
        padding: 5px 10px;
        
        position: relative;
        margin: 10px 0px;
        margin-left: auto;
        display: block;
        
    }
}